<!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ProjectModal"></button>-->
<div id="createProject" class="modal fade" role="dialog">
    <div class="modal modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Create a project</h2>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

