<div id="promo">
    <div class="jumbotron">
        <h3>Welcome to Blockstarter4.0</h3>
        <h5>Overall Projects {{project_count}}</h5>
    </div>
</div>

<div>
  {{#each projects as |project|}}
  <h5>{{project.title}}</h5>
  {{/each}}
</div>
