#promo {
    padding-top: 20px;
}

.bar {
  width: 100%;
  height: 10px;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.yes {
  height: 100%;
  background-color: green;
}

.no {
  height: 100%;
  background-color: red;
}
