<!--<div class="container">-->
  <!--<nav class="navbar navbar-default">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="pull-left" href="#"><img src="/img/logo.png"></a>-->
    <!--</div>-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home <span class="sr-only">(current)</span></a></li>-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle"-->
               <!--data-toggle="dropdown">Project<b class="caret"></b>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="/createProject"><span class="glyphicon glyphicon-pencil"></span> Create Project</a></li>-->
                    <!--<li><a href="/ListProjects"><span class="glyphicon glyphicon-align-justify"></span> List Projects</a></li>-->
                <!--</ul>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li><a href="/investors">Investors List <span class="glyphicon glyphicon-align-left"></span> </a></li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<!--</div>-->

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button><a class="pull-left" href="/"><img src="/img/logo1.png"></a></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="/myprojects"><span class="glyphicon glyphicon-stats"></span> Projects</a></li>
                    <li><a href="/myinvests"><span class="glyphicon glyphicon-bitcoin"></span> Investments</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>